<div class="mt-4 container">
  <div class="row">
    <div class="col-md-9">
      <h2>
        <% if @customer.profile_image.attached? %>
         <%= image_tag @customer.profile_image, size: "60x60" %>
        <% else %>
         <%= image_tag "majan", size: "60x60" %>
        <% end %>
        <%= @customer.name %>
      </h2>
      <table class="table" width="100">
        <tr class="row">
          <th class="col-3">ユーザーID</th>
          <td class="col-2"><%= @customer.id %></td>
        </tr>
        <tr class="row">
          <th></th>
        </tr>
      </table>
    </div>
  </div>
</div>
