<div class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="mx-auto">
      <%= @post_image.title %><br>
      <%= image_tag @post_image.image, size: "600x400" %><br>
      <%= @post_image.body %>
    </div>
  </div>
</div>
