<% chats.each do |chat| %>
  <% if chat.customer_id == current_customer.id %>
    <P style="text-align: right;">
      <span class="chat-right"><%= chat.message %></span>
      <%= link_to "削除", chat_path(chat), method: :delete, data: { confirm: '本当に削除しますか？' }, remote: true %>
    </P>
  <% else %>
    <P style="text-align: left;"><span class="chat-left"><%= chat.message %></span></P>
  <% end %>
<% end %>