<div class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="mx-auto">
      <h2 class="top font-italic">何切る？</h2>
      <p class="text-center">※ログイン状態です</p>
      <%= image_tag "top.jpg", size: "600x300" %>
      <%= link_to about_path, class: "mt-4 text-light btn btn-warning btn-block" do %>
       ABOUT
      <% end %>
      <%= link_to destroy_customer_session_path, method: :delete, class: "mt-4 text-light btn btn-secondary btn-block" do %>
         <i class="fas fa-sign-out"></i>ログアウト
      <% end %>
    </div>
  </div>
</div>