<div class="about">
<div class="container">
  <div class="row">
    <div class="mt-5 mx-auto">
      <P><i class="fa-solid fa-feather"></i>麻雀の何切る問題を気軽に投稿し楽しめるSNSです。<br>
      投稿された何切る問題にコメントで回答することができ、 <br>
      フォロワー同士ではDMで会話することができます。 <br>
      麻雀仲間を増やす目的で使用することもできます。<i class="fa-solid fa-feather"></i></P>
    </div>
  </div>
</div>
</div>