<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="top font-italic">何切る？</h1>
      <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-primary btn-block" %>
      <%= link_to "ログイン", new_customer_session_path, class: "btn btn-info btn-block" %>
    </div>
  </div>
</div>