/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main {
  background-image: url(back.jpeg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 2000px;
}
.index, .follow {
  background-image: url(back.jpeg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
.about {
  font-weight: bold;
  line-height: 2rem;
}

.field_with_errors {
  display: contents;
}
.edit, .show, .table {
  background-color: white;
}
h1, h2 {
  font-family: STKaiti, cursive;;
  font-size: 50px;
}

.field, p {
  font-family: STKaiti;
}

.navbar-brand {
  font-family: cursive;
}

.nav-item {
  margin-right: 9px;
  font-family: STKaiti,
  cursive;
}

.top {
  margin: 20px 0 20px 200px;
}
.chat_field {
  width: 350px;
}