/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url(back.jpeg);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}

.about {
  font-weight: bold;
  line-height: 2rem;
}

.field_with_errors {
  display: contents;
}
.edit, .table {
  background-color: white;
}
.show {
  background-color: white;
  height: 500px;
}
h1, h2 {
  font-family: STKaiti, cursive;;
  font-size: 50px;
}

.field, p {
  font-family: STKaiti;
}

.navbar-brand {
  font-family: cursive;
}

.nav-item {
  margin-right: 5px;
  font-family: STKaiti,
  cursive;
}

.top {
  margin: 20px 0 20px 200px;
}
.chat_field {
  width: 450px;
  border-radius: 30px;
}
.chat-right {
  position: relative;
  display: inline-block;
  margin: 5px 15px 2px 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.chat-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}
.chat-left {
  position: relative;
  display: inline-block;
  margin: 2px 0 2px 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.chat-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid white;
}
.search-group {
  background-color: white;
  font-family: serif;
  border-radius: 10px;
}
.search_form {
  border-color: white;
  font-family: serif;
  border-radius: 10px;
}
.card {
  transition:box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}
.card:hover{
  transform:translate(0, -2px);
  box-shadow: inset 0 5px 15px 0 rgba(0, 102, 51, 0.5);
}